body {
  margin: 0;
  padding: 0;
  padding-bottom: 500px;
  font-family: Helvetica;  
}

h1 {
  color: red;
}

.titulo-vermelho {
  background-color: black;
  color: red;
  padding: 15px;
  border: 5px solid red;
}

.titulo {
  background-color: black;
  color: white;
}